<div class="row">
  <div class="col-12">
    <h1><%= @my_project.name%></h1>
      <ul>
        <%@time_entries.each do |time_entry| %>
          <li>
            <p>Total time: <%= time_entry.hours%>hours, <%= time_entry.minutes%>min - <%= time_entry.comments%> </p>
          </li>
        <%end%>
      </ul>

  </div>
</div>
