<h1>calculator</h1>
<form action="/calculate" method="post">
  <input type="text" name="first_num">
  <input type="text" name="second_num">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
  <button type="submit">Add</button>
</form>
